#login {
  align-self: center;
  position: relative;
  top: 30%;
}
input,
nz-input-group {
  border-radius: 10px;
}
.form-group {
  margin-top: 2%;
}
.social-group {
  button {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  display: flex;
  flex-direction: column;
}
.loading-wrapper.sc-ion-loading-md {
  border-radius: 11px;
}
ion-content.login {
  background-image: url("../../../assets/images/8401.jpg");
}

::ng-deep .custom-loading .loading-wrapper.ion-overlay-wrapper.sc-ion-loading-md {
  border-radius: 5px;
  background: #f4b004;
}
