<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center"> {{title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="title.toLowerCase()==='class'" id="modal-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input
          type="text"
          formControlName="title"
          class="form-controll"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
        ></ion-input>
        <div
          *ngIf="submitted && f.title.errors"
          class="invalid-feedback pullUp"
        >
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Day</ion-label>
        <ion-select
          formControlName="day"
          class="form-controll"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
        >
          <div *ngFor="let day of days">
            <ion-select-option [value]="day"> {{day}}</ion-select-option>
          </div>
        </ion-select>
        <div
          *ngIf="submitted && f.title.errors"
          class="invalid-feedback pullUp"
        >
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Starts At</ion-label>
        <ion-datetime
          type="text"
          formControlName="startTime"
          class="form-controll"
          [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }"
          displayFormat="h:mm A"
          minuteValues="0,15,30,45"
        ></ion-datetime>
        <div
          *ngIf="submitted && f.startTime.errors"
          class="invalid-feedback pullUp"
        >
          <div *ngIf="f.startTime.errors.required">startTime is required</div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ends At</ion-label>
        <ion-datetime
          type="text"
          formControlName="endTime"
          class="form-controll"
          [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }"
          displayFormat="h:mm A"
          minuteValues="0,15,30,45"
        ></ion-datetime>
        <div
          *ngIf="submitted && f.endTime.errors"
          class="invalid-feedback pullUp"
        >
          <div *ngIf="f.endTime.errors.required">endTime is required</div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea
          type="text"
          formControlName="description"
          class="form-controll"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
        ></ion-textarea>
        <div
          *ngIf="submitted && f.description.errors"
          class="invalid-feedback pullUp"
        >
          <div *ngIf="f.description.errors.required">
            description is required
          </div>
        </div>
      </ion-item>
      <div class="buttons">
        <button
          [disabled]="loading"
          nz-button
          nzType="primary"
          [nzSize]="'large'"
          [nzLoading]="loading"
          nzShape="round"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Save
        </button>
        <ion-button color="danger" fill="clear" (click)="cancel()"
          >Cancel</ion-button
        >
      </div>
    </form>
  </div>
  <div *ngIf="title.toLowerCase()==='task'"></div>
</ion-content>
