ion-content {
  ion-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nz-card {
    border-radius: 10px;
    margin: 12px;
  }
}
ion-header {
  ion-toolbar {
    ion-title {
      text-align: center;
      font-weight: bold;
    }
  }
}
.ant-card > .ant-card-head-title {
  text-align: center;
}

#account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  h5 {
    margin-top: 2%;
  }
}

#task {
  display: flex;
  flex-direction: column;
  width: 86%;
  p {
    font-size: 0.8rem;
    font-style: italic;
    color: grey;
  }
}
ion-card {
  border-radius: 10px;
  box-shadow: 0 0 black;
  border: 0.01rem solid #ecf0f1;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
ion-row {
  width: 100%;
}
#tasks-row {
  margin-bottom: 30%;
}

ion-fab-button {
  --box-shadow: 0 0 black;
  border: 0.01rem solid #ecf0f1;
}
#loading {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: grey;
}
.icon {
  display: block;
  position: absolute;
  top: -65px;
  left: 75px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 17px;
  border: 4px solid #ec6f69;
  box-shadow: 0 0 0 4px #fff, 1px 1px 0 4px #de3932;
}
.icon:before {
  content: "";
  display: block;
  width: 7px;
  height: 25px;
  background: #fff;
  position: absolute;
  top: -30px;
  left: 0px;
  border: 5px solid #ec6f69;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0px none;
  box-shadow: 0 -4px 0 4px #fff, 4px -3px 0 1px #de3932;
}
