ion-content {
  ion-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nz-card {
    border-radius: 10px;
    margin: 12px;
  }
}
ion-header {
  ion-toolbar {
    ion-title {
      text-align: center;
      font-weight: bold;
    }
  }
}
.ant-card > .ant-card-head-title {
    text-align: center;
}

#account{
  display :flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  h5 {
    margin-top: 2%;
  }
}

#task {
  display :flex;
  flex-direction: column;
  width: 86%;
  p {
    font-size: .8rem;
    font-style: italic;
    color: grey;
  }
}
ion-card {
  border-radius: 10px;
  box-shadow: 0 0 black;
  border: .01rem solid #ecf0f1;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
ion-row{
  width: 100%;
}
#tasks-row {
  margin-bottom:30%;
}

ion-fab-button{
  --box-shadow: 0 0 black;
  border: .01rem solid #ecf0f1;
}
#loading {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color:grey
}