<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-title style="text-align: center; margin-left: 2.5rem">
        Home
      </ion-title>
      <ion-button
        class="bigEntrance"
        shape="round"
        fill="clear"
        size="small"
        (click)="authService.SignOut()"
      >
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title style="text-align: center" size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <div id="loading" *ngIf="!_user">
    <ion-spinner name="crescent"></ion-spinner>
    loading...
  </div> -->
  <div>
    <!-- <ion-row id="account">
    <ngx-avatar [name]="_user?.displayName" size=80></ngx-avatar>
    <h5>{{_user?.displayName}}</h5>
  </ion-row> -->
    <ion-grid>
      <ion-row id="content">
        <img src="../../assets/images/homeIot.gif" />
      </ion-row>
      <ion-row id="task">
        <h5>My Day</h5>
        <p>Today - {{date}}</p>
      </ion-row>

      <my-card
        *ngIf="cardN == 1 || cardN == 0"
        (cardClosed)="updateClosed()"
        (cardOpened)="updateOpened(1)"
      >
        <span class="card-title">
          <div class="dashboard-card temperature">
            <div class="dashboard-card__title">
              <img src="assets/images/thermometer.png" style="width: 18%" />
              Temperature
            </div>
            <div class="dashboad-card__content">
              <div class="dashboard-card__card-piece">
                <div class="temperature-stats">
                  <div class="stats__item">
                    <div class="stats__title">Indoor</div>
                    <div class="stats__icon">
                      <span class="fa fa-home"></span>
                    </div>
                    <div class="stats__measure">
                      <div class="stats__value">
                        {{_temperatures[_temperatures.length - 1]}}
                      </div>
                      <div class="stats__unit stats__unit_celsius">C</div>
                    </div>
                  </div>
                  <!-- <div class="stats__item">
                    <div class="stats__title">Outdoor</div>
                    <div class="stats__icon">
                      <span class="wi wi-day-cloudy"></span>
                    </div>
                    <div class="stats__measure">
                      <div class="stats__value">18</div>
                      <div class="stats__unit stats__unit_celsius">C</div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div></span
        >
        <span class="card-content">
          <div class="dashboard-card__title">Previous Temperature values</div>
          <ion-list>
            <ion-item
              *ngFor="let item of _temperatures"
              lines="none"
              style="padding-left: 10%"
            >
              <ion-label>
                <div class="stats__measure">
                  <div class="stats__value__small">
                    {{_temperatures[_temperatures.length - 1]}}
                  </div>
                  <div class="stats__unit__small stats__unit_celsius_small">
                    C
                  </div>
                </div></ion-label
              >
            </ion-item>
          </ion-list>
        </span>
      </my-card>

      <my-card
        *ngIf="cardN == 2 || cardN == 0"
        (cardClosed)="updateClosed()"
        (cardOpened)="updateOpened(2)"
      >
        <span class="card-title">
          <div class="dashboard-card temperature">
            <div class="dashboard-card__title">
              <img src="assets/images/gas.png" style="width: 18%" />
              Gas (Methane, Butane, LPG, smoke)
            </div>
            <div class="dashboard-card__card-piece">
              <div class="stats__item">
                <div class="stats__measure">
                  <div class="stats__value">
                    {{convertToPPM(_gases[_gases.length - 1])}}
                  </div>
                  <div class="stats__unit stats__unit_ppm">ppm</div>
                </div>
              </div>
            </div>
          </div></span
        >
        <span class="card-content">
          <div class="dashboard-card__title">Previous gas values</div>
          <ion-list>
            <ion-item
              *ngFor="let item of _gases"
              lines="none"
              style="padding-left: 10%"
            >
              <ion-label>
                <div class="stats__measure">
                  <div class="stats__value__small">
                    {{convertToPPM(_gases[_gases.length - 1])}}
                  </div>
                  <div class="stats__unit__small stats__unit_ppm">ppm</div>
                </div></ion-label
              >
            </ion-item>
          </ion-list>
        </span>
      </my-card>

      <my-card
        *ngIf="cardN == 3 || cardN == 0"
        (cardClosed)="updateClosed()"
        (cardOpened)="updateOpened(3)"
      >
        <span class="card-title">
          <div class="dashboard-card temperature">
            <div class="dashboard-card__title">
              <img src="assets/images/flame.png" style="width: 18%" />
              Flame
            </div>
            <div class="dashboard-card__card-piece">
              <div class="stats__item">
                <div class="stats__measure">
                  <div class="stats__value">
                    {{CheckFlame(_flames[_flames.length - 1])}}
                  </div>
                </div>
              </div>
            </div>
          </div></span
        >
        <span class="card-content">
          <div class="dashboard-card__title">Previous Flame status</div>
          <ion-list>
            <ion-item
              *ngFor="let item of _flames"
              lines="none"
              style="padding-left: 10%"
            >
              <ion-label>
                <div class="stats__measure">
                  <div class="stats__value__small">
                    {{CheckFlame(_flames[_flames.length - 1])}}
                  </div>
                </div></ion-label
              >
            </ion-item>
          </ion-list>
        </span>
      </my-card>
      <my-card
        *ngIf="cardN == 4 || cardN == 0"
        (cardClosed)="updateClosed()"
        (cardOpened)="updateOpened(4)"
      >
        <span class="card-title">
          <div class="dashboard-card temperature">
            <div class="dashboard-card__title">
              <img src="assets/images/acceleration.png" style="width: 18%" />
              Acceleration
            </div>
            <div class="dashboard-card__card-piece">
              <div class="stats__item">
                <div class="stats__measure">
                  <div class="stats__value">
                    {{calculateAcceleration(_accelorometers[_accelorometers.length
                    - 1])}}
                  </div>
                  <div class="stats__unit stats__unit_acceleration">m.s</div>
                </div>
              </div>
            </div>
          </div></span
        >
        <span class="card-content"> </span>
      </my-card>
    </ion-grid>
  </div>
</ion-content>
