ion-header {
    ion-toolbar {
      ion-title {
        text-align: center;
        font-weight: bold;
      }
    }
  }
  ion-searchbar{
    --border-radius: 25px;
    opacity: 60%;
    width: 88%;
  }
  #search-bar {
    justify-content: center;
  }